{% extends 'base.html' %}
{% load i18n %}


{% block content %}

<head>
    <script type="text/javascript">
        window.onload = function () {
  // Default variables
  let i = 0;
  let x = 0;
  var namesDiv = document.getElementById("names");
  var namesList = new Array();
        {% for client in clients %}
            namesList.push("{{ client.name| safe }}")
        {% endfor %}
  console.log(namesList);

  var textarea = document.querySelector("input#names");
  var submitButton = document.getElementById("submitButton");

  var pickerDiv = document.getElementById("picker");
  let intervalHandle = null;
  var headerOne = document.getElementById("headerNames");
  var startButton = document.getElementById("startButton");
  var stopButton = document.getElementById("stopButton");

  if (!Array.isArray(namesList) || !namesList.length) {
    namesDiv.style.display = "block";
    pickerDiv.style.display = "none";
  } else {
    namesDiv.style.display = "none";
    pickerDiv.style.display = "block";
  }

  document
    .getElementById("submitButton")
    .addEventListener("click", function () {
      confetti.remove();

      // TODO: Add list of names to array from textarea
      // Example... namesList = ["Anne","Bob","Gloria"];

      namesList = textarea.value.replace(/\r\n/g, "\n").split("\n");

      names.style.display = "none";
      picker.style.display = "block";
    });

  // Start the name shuffle on button click
  document.getElementById("startButton").addEventListener("click", function () {
    this.style.display = "none";

    shuffle(namesList);

    confetti.remove();

    intervalHandle = setInterval(function () {
      headerNames.textContent = namesList[i++ % namesList.length];
    }, 50);

    setTimeout(function () {
      clearInterval(intervalHandle);
      startButton.style.display = "block";
      confetti.start();
    }, 3000);
  });

  function shuffle(array) {
    var currentIndex = array.length,
      temporaryValue,
      randomIndex;

    // While there remain elements to shuffle...
    while (0 !== currentIndex) {
      // Pick a remaining element...
      randomIndex = Math.floor(Math.random() * currentIndex);
      currentIndex -= 1;

      // And swap it with the current element.
      temporaryValue = array[currentIndex];
      array[currentIndex] = array[randomIndex];
      array[randomIndex] = temporaryValue;
    }

    return array;
  }
};

    </script>
</head>

    <section class="section-lg bg-secondary">
        <div class="container wide">
            <div class="text-center">
                <h1>{% trans "Baxtli ishtirokchi aksiyasi" %}</h1>
                <div class="subtitle-2">{% trans "Kuzatuvchilar uchun <b>Baxtli ishtirokchi</b> aksiyasi dirasida, har haftada bir g'olibga xizmatarimizni bepul taqdim etishni yo'lga qo'ydik." %}</div>
            </div>
        </div>
    </section>
    <div class="section section-xl">
        <div class="container wide">
            <div class="row row-md-80 row-sm-50">
                <div class="col-lg-6">
                    <div class="subtitle">Sovg'a qiling</div>
                    <h2 class="title">O'z sovg'angizni yutib oling</h2>
                    <div class="subtitle-2 big">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                    <div class="list-wrap">
                        <ul class="list-marked">
                            <li>
                                <p>It has survived not only five centuries.</p>
                            </li>
                            <li>
                                <p>It has survived not only five centuries.</p>
                            </li>
                            <li>
                                <p>It has survived not only five centuries.</p>
                            </li>
                            <li>
                                <p>It has survived not only five centuries.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 justify-content-end mt-md-5 mt-sm-3 mt-3">
                    <form class="needs-validation" method="post">
                        {% csrf_token %}
                      <div class="form-group">
                        <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="F.I.O">
                        <small id="emailHelp" class="form-text text-muted">EX: Testov Test Testvich</small>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control{% if form.phone.errors %} is-invalid{% endif %}  " name="phone" id="exampleInputPassword1" aria-describedby="inputGroupPrepend" placeholder="Telefon">
                          <div class="invalid-feedback">
                            {{ form.phone.help_text }}
                          </div>
                      </div>
                      <div class="form-group">
                          <h5>Tuman</h5>
                        <select name="district" class="form-control form-control-lg">
                            {% for district in form.district %}
                            <option>{{ district }}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <div class="form-group">
                      <h5>Viloyat</h5>
                         <select name="region" class="form-control form-control-lg" >
                             {% for region in form.region %}
                            <option>{{ region }}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div id="names">
                <form action="">
                    <textarea id="names" name="names" rows="4" cols="50" placeholder="Entre your names here..."></textarea>
                    <input class="button" id="submitButton" type="submit" value="Submit">
                </form>
            </div>
            <div id="picker" >
                <p style="font-size: 25px">Buyerda yutgan odamning ismi chiqadi: <samp id="headerNames" style="font-size: 25px; font-weight: bold"></samp> </p>
{#                <h1 >?</h1>#}
                <div class="button" id="startButton">start</div>
            </div>
        </div>
    </div>
    <!--Gift Voucher-->
    <div class="section section section-xl bg-gray-150">
        <div class="container wide">
            <div class="text-center">
                <h2 class="title">Beautyrel Massage Gift Voucher</h2>
                <div class="subtitle-2">Get a personalized gift voucher for your family member.</div>
            </div>
            <div class="row row-md-80 row-sm-50">
                <div class="col-xs-10 col-md-6 col-lg-4 text-center">
                    <div class="voucher-box">
                        <div class="voucher-name">$250 Gift Voucher</div>
                        <div class="voucher-title">Basic Voucher</div>
                        <div class="voucher-text">The most affordable option for anyone.</div>
                        <a class="button button-secondary button-md" href="#">Buy As Gift</a>
                    </div>
                </div>
                <div class="col-xs-10 col-md-6 col-lg-4 text-center">
                    <div class="voucher-box-dark">
                        <div class="voucher-name">$450 Gift Voucher</div>
                        <div class="voucher-title">Standard Voucher</div>
                        <div class="voucher-text">Our most popular offer that also is a great present.</div>
                        <a class="button button-secondary-dark button-md" href="#">Buy As Gift</a>
                    </div>
                </div>
                <div class="col-xs-10 col-md-6 col-lg-4 text-center">
                    <div class="voucher-box">
                        <div class="voucher-name">$950 Gift Voucher</div>
                        <div class="voucher-title">Premium Voucher</div>
                        <div class="voucher-text">This voucher includes the cost of all our treatments.</div>
                        <a class="button button-secondary button-md" href="#">Buy As Gift</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FAQ-->
    <div class="section section section-xl">
        <div class="container wide">
            <div class="row row-md-80 row-sm-50">
                <div class="col-sm-12 col-lg-4">
                    <div class="subtitle">Frequently Asked <br class="br-none">Questions</div>
                </div>
                <div class="col-sm-12 col-lg-8">
                    <div class="card-group-custom" id="accordion1" role="tablist" aria-multiselectable="false">
                        <!--Bootstrap card-->
                        <article class="card card-custom card-group-custom card-corporate">
                            <div class="card-heading" role="tab">
                                <div class="card-title"><a class="collapsed" id="accordion1-card-head-yuvydvfi"
                                                           data-toggle="collapse" data-parent="#accordion1"
                                                           href="#accordion1-card-body-isxhqahm"
                                                           aria-controls="accordion1-card-body-isxhqahm"
                                                           aria-expanded="false" role="button">Do you provide any
                                    scripts with your templates?</a></div>
                            </div>
                            <div class="card-collapse collapse" id="accordion1-card-body-isxhqahm"
                                 aria-labelledby="accordion1-card-head-yuvydvfi" data-parent="#accordion1"
                                 role="tabpanel">
                                <div class="card-body">
                                    <p>Our templates do not include any additional scripts. Newsletter subscriptions,
                                        search fields, forums, image galleries (in HTML versions of Flash products) are
                                        inactive. Basic scripts can be easily added at www.zemez.io If you are not sure
                                        that the element you’re interested in is active please contact our Support Chat
                                        for clarification.</p>
                                </div>
                            </div>
                        </article>
                        <!--Bootstrap card-->
                        <article class="card card-custom card-group-custom card-corporate">
                            <div class="card-heading" role="tab">
                                <div class="card-title"><a class="collapsed" id="accordion1-card-head-rvvmlakc"
                                                           data-toggle="collapse" data-parent="#accordion1"
                                                           href="#accordion1-card-body-ibrkhidq"
                                                           aria-controls="accordion1-card-body-ibrkhidq"
                                                           aria-expanded="false" role="button">What are the advantages
                                    of purchasing a website template?</a></div>
                            </div>
                            <div class="card-collapse collapse" id="accordion1-card-body-ibrkhidq"
                                 aria-labelledby="accordion1-card-head-rvvmlakc" data-parent="#accordion1"
                                 role="tabpanel">
                                <div class="card-body">
                                    <p>The major advantage is price: You get a high quality design for just $20-$70. You
                                        don’t have to hire a web designer or web design studio. Second advantage is time
                                        frame: It usually takes 5-15 days for a good designer to produce a web page of
                                        such quality.</p>
                                </div>
                            </div>
                        </article>
                        <!--Bootstrap card-->
                        <article class="card card-custom card-group-custom card-corporate">
                            <div class="card-heading" role="tab">
                                <div class="card-title"><a class="collapsed" id="accordion1-card-head-rnaolegb"
                                                           data-toggle="collapse" data-parent="#accordion1"
                                                           href="#accordion1-card-body-syjjeobo"
                                                           aria-controls="accordion1-card-body-syjjeobo"
                                                           aria-expanded="false" role="button">What do I receive when I
                                    order a template from Zemez?</a></div>
                            </div>
                            <div class="card-collapse collapse" id="accordion1-card-body-syjjeobo"
                                 aria-labelledby="accordion1-card-head-rnaolegb" data-parent="#accordion1"
                                 role="tabpanel">
                                <div class="card-body">
                                    <p>After you complete the payment via our secure form you will receive the
                                        instructions for downloading the product. The source files in the download
                                        package can vary based on the type of the product you have purchased.</p>
                                </div>
                            </div>
                        </article>
                        <!--Bootstrap card-->
                        <article class="card card-custom card-group-custom card-corporate">
                            <div class="card-heading" role="tab">
                                <div class="card-title"><a class="collapsed" id="accordion1-card-head-eogpsnnq"
                                                           data-toggle="collapse" data-parent="#accordion1"
                                                           href="#accordion1-card-body-fvrmldsu"
                                                           aria-controls="accordion1-card-body-fvrmldsu"
                                                           aria-expanded="false" role="button">In what formats are your
                                    templates available?</a></div>
                            </div>
                            <div class="card-collapse collapse" id="accordion1-card-body-fvrmldsu"
                                 aria-labelledby="accordion1-card-head-eogpsnnq" data-parent="#accordion1"
                                 role="tabpanel">
                                <div class="card-body">
                                    <p>Website templates are available in Photoshop and HTML formats. Fonts are included
                                        with the Photoshop file. In most templates, HTML is compatible with Adobe®
                                        Dreamweaver® and Microsoft® FrontPage®.</p>
                                </div>
                            </div>
                        </article>
                        <!--Bootstrap card-->
                        <article class="card card-custom card-group-custom card-corporate">
                            <div class="card-heading" role="tab">
                                <div class="card-title"><a class="collapsed" id="accordion1-card-head-kirkjnns"
                                                           data-toggle="collapse" data-parent="#accordion1"
                                                           href="#accordion1-card-body-qrewbjoi"
                                                           aria-controls="accordion1-card-body-qrewbjoi"
                                                           aria-expanded="false" role="button">What am I allowed to do
                                    with the templates?</a></div>
                            </div>
                            <div class="card-collapse collapse" id="accordion1-card-body-qrewbjoi"
                                 aria-labelledby="accordion1-card-head-kirkjnns" data-parent="#accordion1"
                                 role="tabpanel">
                                <div class="card-body">
                                    <p>You may build a website using the template in any way you like. You may not
                                        resell or redistribute templates (like we do); claim intellectual or exclusive
                                        ownership to any of our products, modified or unmodified. All products are
                                        property of content providing companies and individuals. You are also not
                                        allowed to make more than one project using the same template (you have to
                                        purchase the same template once more in order to make another project with the
                                        same design).</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <script>#}
{#// Example starter JavaScript for disabling form submissions if there are invalid fields#}
{#(function() {#}
{#  'use strict';#}
{#  window.addEventListener('load', function() {#}
{#    // Fetch all the forms we want to apply custom Bootstrap validation styles to#}
{#    var forms = document.getElementsByClassName('needs-validation');#}
{#    // Loop over them and prevent submission#}
{#    var validation = Array.prototype.filter.call(forms, function(form) {#}
{#      form.addEventListener('submit', function(event) {#}
{#        if (form.checkValidity() === false) {#}
{#          event.preventDefault();#}
{#          event.stopPropagation();#}
{#        }#}
{#        form.classList.add('was-validated');#}
{#      }, false);#}
{#    });#}
{#  }, false);#}
{#})();#}
{#</script>#}
{% endblock %}